html, body {
    height: 100%;
    font-family: Helvetica, sans-serif;
    background: rgb(255, 249, 238);
    color: black;
    font-weight: lighter;
}

h1, h2 {
    color: black;
}

.main-menu ul {
    list-style: none;
}
  
.main-menu ul li {
    display: inline;
    align-content: center;
}
  
.main-menu ul li a {
    display: inline-block;
    font-size: 18px;
    color: black;
    font-weight: lighter;
    margin-left: 15px;
    margin-right: 10px;
    padding: 20px 0 5px;
    text-decoration: none;
}
  
.main-menu ul li a:hover {
    display: inline-block;
    font-size: 18px;
    color: rgb(73, 144, 161);
    margin-left: 15px;
    margin-right: 10px;
    padding: 20px 0 5px;
    text-decoration: none;
}

.title {
    color: rgb(73, 144, 161);
    font-size: 50px;
    font-weight: bold;
}

section {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.disc{
    font-size: 25px;
    font-weight: normal;
}